<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
 <head>
        <title>ISI KTP</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="text-align: center">
        <h1>KTP</h1>
        <hr/>
    Nama :<l th:text="${A1}"></l>
    <br/><br/>
    Tanggal :<l th:text="${A2}"></l>
    <br/><br/>
    Gambar :<img th:src="${A3}" style="width:400px;height:400px">    
    
    </body>
</html>
